*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}


header{
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
   border: 1px solid lightgrey;
   padding: 10px;
   box-shadow: 1px 1px 1px lightgrey;
   background-color: white;
}


header h1{
    color: black;
    font-size: 1.9rem;
}

header #home{
    font-size: 1.7rem;
    color: black;
}

header .account_controls a{
    font-size: 1.5rem;
    margin-left: 10px;
    color: black;
}

header .account_controls a{
    color: black;
}

header .account_controls a b{
    color: black;
}

header .account_controls a:hover{
    text-decoration: underline;
}

